@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: antiquewhite;
    margin: 0;
}

button {
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.158);
    transition: all 100ms ease-in-out;
    background-color: #545B62;
    color: white;
    width: 250px;
}

button:hover {
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.158);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#dropdownMenu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 65px;
    display: none;
    background-color: white;
    width: 300px;
}

#dropdownMenu li {
    padding: 8px;
    transition: all .33s ease-in-out;
}

#dropdownMenu li:hover {
    background-color: rgb(167, 160, 160);
    cursor: pointer;
}

#dropdownMenu.show {
    display: block;
}

nav {
    position: relative;
}